*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
.about-me{
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: #ff9dcf;
}
.about-me .her{
    position: relative;
    z-index: 10;
    height: 85vh;
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border: 3px solid #ff9dcf;
    border-radius: 20px;
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
    padding: 0 40px 0 80px;
}
.her nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
}
h2{
    color: #801f82;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}
.her .about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}
.her .about-content .me{
    width: 40%;
}
.her .about-content .me p{
    margin-top: 5px;
    color: #4f4f4f;
    margin-bottom: 50px;
    font-size: 18px;
}
.her .about-content .my-img{
    width: 40%;
}
.her .about-content .my-img img{
    width: 100%;
}
