*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

.project {
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Add this line */
}

.project::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: #f9f9f9;
}

.work {
    position: relative;
    z-index: 10;
    height: 85vh;
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border: 3px solid #ff9dcf;
    border-radius: 20px;
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
    padding: 0 40px 0 80px;
}

h2 {
    color: #801f82;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}
h5 {
    color: #801f82;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.project-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.box{
    height : 400px;
    width:25%;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img{
    height: 170px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p {
    color: #801f82;
    font-weight: bold;
    text-align: center;
}

/* Add this block to create the hover effect */
.box:hover {
    transform: scale(1.1); /* Enlarge the image */
    transition: transform 0.3s ease; /* Add a smooth transition */
    z-index: 1; /* Place the hovered box above others */
}

.box .box-img {
    position: relative;
}

.box .box-img::before {
    /* content: attr(data-technology); Show technology name */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    opacity: 0; /* Hide by default */
    pointer-events: none; /* Don't interfere with hover */
    transition: opacity 0.3s ease;
}

.box:hover .box-img::before {
    opacity: 0; /* Show on hover */
}
